{% block content %}

    <h1>Update User:</h1>
    <br/>
    <form method = "POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control") }}
        <br/>

        {{ form.points.label(class="form-label") }}

        {{ form.points(class="form-control") }}

        

        {{ form.update() }}
        <br/><br/>

    </form>

    <a href = "{{ url_for('go_back')}}"><- Go Back</a>
<br/><br/><br/>

{% for our_user in our_table %}

    {{ our_user.name }} - {{ our_user.id }} - {{ our_user.points }} - <a href = "{{ url_for('delete_info', id = our_user.id) }}">Delete</a><br/>

{% endfor %}


{% endblock %}